@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Figma Hand';
  src: url('/assets/fonts/FigmaHand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}